@import "compass";

$font: 'Roboto', sans-serif;
/** mixins **/
@mixin reset {
  margin:0;
  padding:0;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table; 
    clear: both;
  }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@mixin absolute-center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/** mixins end **/

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: $font;
    background-image: url("http://wutsapp.net/images/dist/bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height:839px;
    padding:20px 0;
}


.page {
    width: 100%;
    height: 100%;
}

.phone {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 800px;
}

.chat-root {
    height: 100%;
}



.wa {
    &-container {
        @include absolute-center-absolute;
      position:relative;
       
        .status-bar {
            height: 25px;
            background: #054d44;
            @include clearfix;
            color: #fff;
            font-size: 14px;
            padding: 0 8px;
            div {
                float: right;
                @include vertical-align;
                margin: 0 0 0 8px;
            }
        } //status bar
        .user-bar {
            height: 55px;
            background: #075e54;
            @include clearfix;
            color: #fff;
            padding: 0 8px;
            font-size: 24px;
            div {
                float: left;
                @include vertical-align;
                &.actions {
                    float: right;
                    margin: 0 0 0 20px;
                    &.more {
                        margin: 0 12px 0 20px;
                    }
                    &.attachment {
                        i {
                            display: block;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
            .user {
                margin: 0 0 0 8px;
                width: 36px;
                height: 36px;
                img {
                    border-radius: 50%;
                    display: block;
                    box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
                    width: 100%;
                }
            } //user
            .user-name {
                font-size: 16px;
                margin: 0 0 0 8px;
                width: 165px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                span {
                    display: block;
                    font-size: 12px;
                }
            } //username
        } //user bar
        .bottom-bar {
            height: 47px;
            background: #000;
            color: #fff;
            font-size: 22px;
            div {
                width: 33.333333%;
                float: left;
                text-align: center;
                @include vertical-align;
                &.triangle {
                    i {
                        display: block;
                        transform: rotate(-90deg);
                    }
                }
            }
        } //bottom bar
        .chat-window {
            height: calc(100% - 152px);
            position: relative;
            background: url("http://wutsapp.net/images/dist/wall.jpg");
            background-size: 100%;
            @include clearfix;
            box-shadow: inset 0 10px 10px -10px #000000;
            .conversation {
                width: 100%;
                overflow: auto;
                height: calc(100% - 68px);
                padding: 0 16px;
                @include clearfix;
            }
            .balloon {
                padding: 8px;
                position: relative;
                color: #000;
                font-size: 14px;
                line-height: 18px;
                box-shadow: 0 0 1px rgba(0, 0, 0, .2);
                clear: both;
                margin: 8px 0;
                max-width: 85%;
                &:after {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 0;
                    border-style: solid;
                }
                .data {
                    display: inline-block;
                    padding: 0 20px 0 16px;
                    font-size: 11px;
                    color: #b9b9b9;
                    position: relative;
                    bottom: -5px;
                    float: right;
                    background-repeat: no-repeat;
                    background-position: right 3px;
                    background-color: transparent;
                    background-size: 16px auto;

                    &.blue {
                        background-image: url("http://wutsapp.net/images/dist/blue.png");
                    }
                }
                img {
                    width: 100%;
                }
                &:first-child {
                    margin: 16px 0 8px;
                }
                &.him {
                    background: #fff;
                    float: left;
                    border-radius: 0px 5px 5px 5px;
                    .data {
                        padding: 0 0 0 16px;
                    }
                    &:after {
                        top: 0;
                        left: -10px;
                        border-width: 0px 10px 10px 0;
                        border-color: transparent #fff transparent transparent;
                    }
                }
                &.you {
                    background: #e1ffc7;
                    float: right;
                    border-radius: 5px 0px 5px 5px;
                    &:after {
                        top: 0;
                        right: -10px;
                        border-width: 0px 0 10px 10px;
                        border-color: transparent transparent transparent #e1ffc7;
                    }
                }
            } //balloon
            .textarea {
                width: 100%;
                z-index: 2;
                left: 0;
                position: absolute;
                bottom: 8px;
                height: 50px;
                padding: 0 0 0 8px;
                @include clearfix;
                ::-webkit-input-placeholder {
                    color: #b9b9b9;
                }
                ::-moz-placeholder {
                    /* Firefox 19+ */
                    color: #b9b9b9;
                }
                :-ms-input-placeholder {
                    color: #b9b9b9;
                }
                div,
                textarea {
                    height: 100%;
                    float: left;
                    background: #fff;
                }
                .emoticons {
                    width: 10%;
                    background: url("http://wutsapp.net/images/dist/smile.png") center center no-repeat #fff;
                    background-size: 20px;
                    border-radius: 5px 0 0 5px;
                }
                textarea {
                    width: 63%;
                    border: 0;
                    outline: none;
                    padding-top: 14px;
                    resize: none;
                }
                .photo {
                    width: 10%;
                    border-radius: 0 0 5px 0;
                    position: relative;
                    text-align: center;
                    &:after {
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        content: "";
                        top: 0;
                        right: -10px;
                        border-width: 0px 0 10px 10px;
                        border-color: transparent transparent transparent #fff;
                    }
                    i {
                        display: block;
                        @include absolute-center;
                        color: #7d8488;
                        font-size: 24px;
                    }
                }
                .send-mic {
                    width: 17%;
                    background: transparent;
                    position: relative;
                    cursor: pointer;
                    .circle-cont {
                        color: #fff;
                        border-radius: 50%;
                        @include absolute-center;
                        background: #00897b;
                        width: 48px;
                        height: 48px;
                        box-shadow: 0 1px 0 darken(#00897b, 10%);
                        i {
                            display: inline-block;
                            @include absolute-center;
                            font-size: 24px;
                        }
                    }
                }
            } //text area container
        } //chat window
    } //container
}

.wrapperchat {
    height: calc(100% - 81px);
}


// nexus6 skin

.page.nexus6 {
  
  .phone {background-image: url("http://wutsapp.net/images/dist/nexus6.png");background-size:auto 799px}
  
  .wa-container {
    width: 382px;
    height: 681px;
    padding: 6px 0 0;

    
    .chat-window {height: calc(100% - 55px);}
  }
  
  .wrapperchat {
    height: calc(100% - 69px);
} 
}

.more {
  position:absolute;
  bottom:30px;
  left:10px;
  a,a:visited {
    padding:10px 20px;
    color:black;
    font-size:24px;
    background:yellow;
  }
}