<div class="user-bar">
    <div class="back">
        <i class="zmdi zmdi-arrow-left"></i>
    </div>
    <!-- user info start -->
    <div class="user">
        <img ng-src="{{chat.user.image}}" alt="user" />
    </div>
    <div class="user-name">
        <b>{{chat.user.name}}</b>
        <span>{{chat.user.status}}</span>
    </div>
    <!-- user info end -->
    <div class="actions more">
        <i class="zmdi zmdi-more-vert"></i>
    </div>
    <div class="actions attachment">
        <i class="zmdi zmdi-attachment-alt"></i>
    </div>
    <div class="actions">
        <i class="zmdi zmdi-phone"></i>
    </div>
</div>
<div class="chat-window" ng-class="{'alert': chat.interactionAlert, 'reverse': !chat.interactionAlert}">
    <div class="alert-overlay" >
        <div class="alert-card">
            <div class="left">
                I'm sorry but you can't interact with any of these chats.
            </div>
            <div class="right" ng-click="hideInteractionAlert()">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>
    </div>
    <!-- conversation start -->
    <div class="conversation">
        <div class="balloon " ng-repeat="message in chat.messages" ng-class="message.you ? 'you' : 'him'">
            <img ng-src="{{message.image}}" ng-if="message.image" />
            {{message.text}}<span ng-if="message.text || message.image" class="data" ng-class="{'blue': message.you}">{{message.timestamp | date: 'shortTime'}}</span>
        </div>
    </div>
    <!-- conversation end -->
    <div class="textarea" ng-click="showInteractionAlert()">
        <div class="emoticons"></div>
        <textarea class="message" name="message" placeholder="Type a message">{{chat.newMessage}}</textarea>
        <div class="photo">
            <i class="zmdi zmdi-camera"></i>
        </div>
        <div class="send-mic">
            <div class="circle-cont">
                <i class="zmdi zmdi-mic"></i>
            </div>
        </div>
    </div>
</div>
